<header style="margin-bottom: 10%;">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/lists">My Lists</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="logout">Logout</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/edit_profile">Edit Profile</a></li>
      </ul>
    </div>
  </nav>
</header>
