<!DOCTYPE html>
<br lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <!-- bootstrap -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>




<body
  background="https://media.gettyimages.com/photos/young-woman-writing-notes-and-working-on-a-laptop-picture-id1179561162?s=2048x2048">
  <h6 id="home"> Welcome to our Smart Todo List</h6>
  </br>
  <div id="text">
    Now, you won't forget watching movies,
    visiting restaurants,
    reading books, neither buying what you want,
    we promise you
  </div>
  </br>
  <div id="button">
    <div style="float: left; width: 100px">
      <form method="GET" action="/login">
        <button type="submit" class="btn btn-default">Login</button>
      </form>
    </div>
    <div style="float: left; width: 100px">
      <form method="GET" action="/register">
        <button type="submit" class="btn btn-default">Register</button>
      </form>
    </div>
  </div>
</body>
