// See: https://sass-lang.com/

// style textarea
.shadow-textarea textarea.form-control::placeholder {
  font-weight: 300;
}
.shadow-textarea textarea.form-control {
  padding-left: 0.8rem;
}
// select_list style
.item {
  float: left;
  padding: 2px;
  margin-right: 10%;
  margin-bottom: 15px;
  p{
    margin-top: 5px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: medium;
  }
}
.containers
{
  margin-top: 10%;
  width: 55%;
  height:200px;
  margin: 0 auto;
}
// edit_profile style
.edit
{
  width: 35%;
  margin-left: 10px;
}
//style the error message
#emailmsg,#passwordmsg{
  color: red;
}
.centerLogin
{
  margin-left: 35%;
  margin-top: 19%;

}
.centerRegister{
  margin-left: 35%;
  margin-top: 10%;
}
